<h1>This is your homepage</h1>
{{#each posts}}
	<div>
		Title:{{this.title}}
	</div>
	<div>
		Title:{{this.url}}
	</div>
	<div>
		Image:{{this.image}}
	</div>
	<div>
		Title:{{this.title}}
	</div>
	<div>
		Description:{{this.description}}
	</div>
	<div>
		Score:{{this.score}}
	</div>
{{/each}}